{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>ICE Store - Products</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link
      href="{% static 'css/tooplate-little-fashion.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/viewpp.css' %}" />
  </head>

  <body>
    <section class="preloader">
      <div class="spinner">
        <span class="sk-inner-circle"></span>
      </div>
    </section>

    <main>
      <nav class="navbar navbar-expand-lg">
        <!-- Navigation code here -->
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="{% url 'home' %}">
            <strong><span>ICE</span> Store</strong>
          </a>

          <div class="d-lg-none">
            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

            <a href="product-detail.html" class="bi-bag custom-icon"></a>
          </div>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="{% url 'product_all' %}"
                  >Products</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>

            <form action="{% url 'product_search' %}" method="GET">
              <div class="input-container mx-3">
                  <input
                      type="text"
                      name="q"
                      class="input"
                      placeholder="Search something..."
                      value="{{ query }}"
                  />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill=""
                    viewBox="0 0 24 24"
                    class="icon"
                  >
                    <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                    <g
                      stroke-linejoin="round"
                      stroke-linecap="round"
                      id="SVGRepo_tracerCarrier"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <rect fill="white" height="24" width="24"></rect>
                      <path
                        fill=""
                        d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM9 11.5C9 10.1193 10.1193 9 11.5 9C12.8807 9 14 10.1193 14 11.5C14 12.8807 12.8807 14 11.5 14C10.1193 14 9 12.8807 9 11.5ZM11.5 7C9.01472 7 7 9.01472 7 11.5C7 13.9853 9.01472 16 11.5 16C12.3805 16 13.202 15.7471 13.8957 15.31L15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L15.31 13.8957C15.7471 13.202 16 12.3805 16 11.5C16 9.01472 13.9853 7 11.5 7Z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                      ></path>
                    </g>
                  </svg>
                  <button type="submit" class="btn rounded btn-dark d-none">
                    
                  </button>
              </div>
          </form>

            <div class="d-none d-lg-block">
              {% if request.user.is_authenticated %}
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-outline-light cart-btn rounded text-center custom-icon" data-bs-toggle="modal" data-bs-target="#cart-modal">
                    <i class="bi-bag"></i>
                  </button>
                </div>
                <div class="col">
                  <a href="{% url 'logout' %}"
                  ><button
                    class="btn btn-outline-dark cart-btn rounded text-center mt-2" 
                  ><span  >Logout</span></button
                ></a>
                </div>
            </div>
            {% else %}
            
            <div class="row">
              <div class="col">
                  <button type="submit" class="btn btn-outline-light cart-btn rounded text-center custom-icon" data-bs-toggle="modal" data-bs-target="#cart-modal">
                      <i class="bi-bag"></i>
                  </button>
              </div>
              <div class="col">
                  <a href="{% url 'register' %}" class=" btn btn-outline-light cart-btn rounded text-center custom-icon "> <i class="bi-person"></i></a>
              </div>
          </div>
            {% endif %}
            

              
            </div>
          </div>
        </div>
      </nav>

      <header
        class="site-header section-padding d-flex justify-content-center align-items-center"
      >
        <!-- Header code here -->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-12">
              <h1>
                <span class="d-block text-primary">Choose your</span>
                <span class="d-block text-dark">favorite stuff</span>
              </h1>
            </div>
          </div>
        </div>
      </header>

      <section class="products section-padding">
        <div class="container">
          <div class="row">
            {% for category in categories %}
            <h3 class="modal-title mt-5">{{category}}</h3>
            {% for product in category.product_set.all %}

            <div class="col-lg-4 col-12 mb-5 pb-5">
              <div class="product-thumb">
                <a href="{% url 'product_detail' product.id %}">
                  <img
                    src="{{ product.p_image.url }}"
                    class="img-fluid product-image"
                    alt="{{ product.p_name }}"
                  />
                </a>
                <div class="product-top d-flex">
                  <!--  code here -->
                  <span class="product-alert"></span>

                  <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                </div>
                <div class="product-info d-flex">
                  <div>
                    <h5 class="product-title mb-0">
                      <a
                        href="{% url 'product_detail' product.id %}"
                        class="product-title-link"
                        >{{ product.p_name }}</a
                      >
                    </h5>
                    <p class="product-p ">{{ product.p_dec }}</p>
                  </div>
                  <small class="product-price text-muted ms-auto"
                    >{{ product.p_price }} IQD</small
                  >
                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    <!-- CART MODAL -->
    <div
      class="modal fade"
      id="cart-modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
          <div class="modal-header flex-column">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <div class="row">
              <h1>Cart Items</h1>
              <div id="cart-items-container">
                <!-- Cart items will be dynamically added here -->
              </div>

              <div class="col-lg-6 col-12 mt-3 mt-lg-0">
                <div class="border-top mt-4 pt-3">
                  <p class="product-p">
                    <strong
                      >Total:
                      <span class="ms-1"
                        ><div id="total-price">
                          <!-- Total price will be dynamically updated here -->
                        </div></span
                      ></strong
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row w-50">
                <button type="button" class="btn custom-btn cart-btn ms-lg-4" id="checkoutBtn">
                    Checkout
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Your existing HTML code here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    document.getElementById('checkoutBtn').addEventListener('click', function() {
        // Assuming you have already stored cart items in localStorage
        var cartItems = JSON.parse(localStorage.getItem('cart'));

        // Convert cartItems to the required format
        var cartItemsArray = Object.entries(cartItems).map(function ([productId, quantity]) {
            return { product_id: productId, quantity: quantity };
        });

        // AJAX function to send cart items to the Django view
        function postCartItemsToServer() {
            // Create a new XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            // Configure the request
            xhr.open('POST', "{% url 'create_order' %}", true);
             // Include the CSRF token in the request headers
            xhr.setRequestHeader("X-CSRFToken", getCSRFToken());

            xhr.setRequestHeader('Content-Type', 'application/json');

            // Define what happens on successful data submission
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Parse the JSON response
                    var response = JSON.parse(xhr.responseText);
                    console.log(response);
                    // Clear localStorage after logging the response
                    localStorage.clear();
                    // Refresh the page after successful checkout
                    location.reload();
                    // Handle success response here
                } else {
                    // Handle error response here
                    console.error('Request failed:', xhr.statusText);
                }
            };

            // Define what happens in case of an error
            xhr.onerror = function () {
                console.error('Request failed:', xhr.statusText);
            };

            // Convert cartItemsArray to JSON string
            var data = JSON.stringify({ cart: cartItemsArray });
            console.log(data)
            // Send the request
            xhr.send(data);
        }
        // Function to retrieve the CSRF token from the meta tag
        function getCSRFToken() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }

        // Call the function to send cart items to the server
        postCartItemsToServer();
    });
</script>
<script>
  $(document).ready(function () {
    // Bind function to execute when the modal is shown
    $("#cart-modal").on("show.bs.modal", function (e) {
      // Retrieve cart items from local storage
      var cartItems = JSON.parse(localStorage.getItem("cart"));
      console.log(cartItems);

      // Check if cart items exist
      if (cartItems) {
        var totalPrice = 0;
        var itemRequests = [];

        // Convert cart items object to array of objects
        var cartItemsArray = Object.entries(cartItems).map(function ([
          productId,
          quantity,
        ]) {
          return { product_id: productId, quantity: quantity };
        });

        // Map cart items to AJAX requests to fetch prices
        cartItemsArray.forEach(function (item) {
          itemRequests.push(
            $.ajax({
              url: "{% url 'get_product_price' %}",
              type: "GET",
              data: { product_id: item.product_id },
              success: function (response) {
                var itemPrice = response.price;
                var itemHtml =
                  '<div class="col-12 mt-4 mt-lg-0 align-items-center">';
                itemHtml +=
                  '<div class="card flex-lg-row align-items-center border-0">';
                itemHtml +=
                  '<img src="' +
                  response.image +
                  '" class="img-fluid  col-lg-6 col-md-6 col-sm-12" alt="' +
                  response.name +
                  '">';
                itemHtml +=
                  '<div class="card-body col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center">';
                itemHtml +=
                  '<h5 class="modal-title">' + response.name + "</h5>";
                itemHtml +=
                  '<p class="product-p">Quantity: ' +
                  item.quantity +
                  "</p>";
                itemHtml +=
                  '<p class="product-price text-muted mt-3">' +
                  itemPrice +
                  " IQD</p>";
                itemHtml += '<button class="btn btn-sm btn-danger delete-item" data-product-id="' + item.product_id + '">X</button>'; // Add a delete button with product ID as data attribute
                itemHtml += "</div></div></div>";

                // Append item HTML to container
                $("#cart-items-container").append(itemHtml);

                // Calculate total price
                totalPrice += parseFloat(itemPrice * item.quantity);
              },
              error: function (xhr, status, error) {
                console.error(error);
              },
            })
          );
        });

        // Execute all AJAX requests
        $.when.apply($, itemRequests).done(function () {
          // Display total price
          $("#total-price").text(totalPrice.toFixed(2) + " IQD");
        });
      } else {
        // If cart is empty, display a message or handle it accordingly
        $("#cart-items-container").html("<p>Cart is empty</p>");
      }
    });
  });
</script>
<script>
          // Handle click on delete button (event delegation)
    $(document).on('click', '.delete-item', function() {
      var productId = $(this).data('product-id');

      // Remove the item from localStorage
      removeItemFromLocalStorage(productId);

      // Remove the item card from the modal
      $(this).closest('.col-12').remove();

      // Optionally, update the total price after deleting the item
      updateTotalPrice();
    });

    // Function to remove item from localStorage
    function removeItemFromLocalStorage(productId) {
      // Retrieve cart items from localStorage
      var cartItems = JSON.parse(localStorage.getItem('cart'));

      // Check if cartItems exists and if the item with productId exists
      if (cartItems && cartItems[productId]) {
          // Remove the item with productId from cartItems
          delete cartItems[productId];

          // Update localStorage with the modified cartItems
          localStorage.setItem('cart', JSON.stringify(cartItems));
          console.log(localStorage.items)
      }
    }

    // Function to update total price
    function updateTotalPrice() {
      // Retrieve cart items from local storage
      var cartItems = JSON.parse(localStorage.getItem("cart"));
      console.log(cartItems);

      // Check if cart items exist
      if (cartItems) {
        var totalPrice = 0;
        var itemRequests = [];

        // Convert cart items object to array of objects
        var cartItemsArray = Object.entries(cartItems).map(function ([
          productId,
          quantity,
        ]) {
          return { product_id: productId, quantity: quantity };
        });

        // Map cart items to AJAX requests to fetch prices
        cartItemsArray.forEach(function (item) {
          itemRequests.push(
            $.ajax({
              url: "{% url 'get_product_price' %}",
              type: "GET",
              data: { product_id: item.product_id },
              success: function (response) {
                var itemPrice = response.price;
                // Calculate total price
                totalPrice += parseFloat(itemPrice * item.quantity);
              },
              error: function (xhr, status, error) {
                console.error(error);
              },
            })
          );
        });

        // Execute all AJAX requests
        $.when.apply($, itemRequests).done(function () {
          // Display total price
          $("#total-price").text(totalPrice.toFixed(2) + " IQD");
        });
      } else {
        // If cart is empty, display a message or handle it accordingly
        $("#cart-items-container").html("<p>Cart is empty</p>");
      }
    }

</script>

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/Headroom.js' %}"></script>
    <script src="{% static 'js/jQuery.headroom.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
